* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #3b5998;
  overflow: hidden;
  height: 60px;
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.navbar li:last-child {
  padding-right: 3rem;
}
#logo {
  position: absolute;
  top: 23px;
  left: 10px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
}
.png {
  position: absolute;
  width: 40%;
}

#logo:after {
  padding-left: 70px;
  content: "TABLEABLE";
}

.button {
  display: flex;
  flex-direction: column;
  float: right;
  margin-right: 15px;
  padding-top: 10px;
}

a#login.btn {
  padding: 2px 10px;
  font-size: 10px;
  text-align: center;
  margin-bottom: 5px;
}

a#register.btn {
  padding: 2px 10px;
  font-size: 10px;
  text-align: center;
}

.btn {
  color: #fff;
  border: 1px solid rgb(37, 168, 185);
  border-radius: 5px;
  text-align: center;
}

.navbar .hamburger {
  float: left;
  display: block;
}

.navbar-nav {
  float: right;
  display: flex;
  margin-top: 20px;
  list-style: none;
}

.navbar a:hover {
  background-color: rgb(37, 168, 185);
  color: #fff;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden; /* disable scrolling horizontal */
  padding-top: 60px;
  transition: 0.5s; /* smoothly open */
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 2.5rem;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 800px) {
  .navbar-nav {
    display: none;
  }
  #logo {
    position: absolute;
    left: 30%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: right;
  }
}

@media (min-width: 800px) {
  .open-slide {
    display: none;
  }
}
