{% extends 'layout.html' %}

{% block body %}

    <div>
        <h1>LOGIN</h1>
        {% from "includes/_formhelpers.html" import render_field %}
        <form method='POST'>
            <div>
                {{ form.csrf_token }}
                {{ render_field(form.username, class_="form-control") }}
            </div>
            <div>
                {{ form.csrf_token }}
                {{ render_field(form.pwd, class_="form-control") }}
            </div>
            <p><input type="submit" value="Submit"></p>
    </div>

{% endblock body %}