{% extends 'layout.html' %}

{% block body %}
    <h1>REGISTRATION</h1>
    <form action="" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="rest_name" placeholder="Restaurant Name">
        <input type="text" name="rest_address" placeholder="Address">
        <input type="text" name="owner_name" placeholder="Owner Name">
        <input type="submit" name="add_new_user" >
    </form>
{% endblock body %}