{% extends 'layout.html' %}

{% block body %}
    <form method="POST" action="">
        <input type="date" name="sday" required>
        <input type="submit" value="Show" name="show">
    </form>
    <form method="POST" action="">
        <input type="submit" value="Hide" name="hide">
    </form>

    {% if toshow %}
        <h1>Reservations</h1>
        {% for i in reservations %}
            <p>{{ i.s_day }}</p>
            <p>{{ i.s_time }}</p>
            <p>{{ i.s_npeople }}</p>
            <form method="POST" style="border-bottom: 1px solid black; padding-bottom: 10px;">
                <input type="hidden" name="get_res_to_delete" value="{{ i.s_npeople }}">
                <input type="hidden" name="get_res_to_delete" value="{{ i.s_time }}">
                <input type="hidden" name="get_res_to_delete" value="{{ i.s_day }}">
                <input type="hidden" name="get_res_to_delete" value="{{ i.id }}">
                <input type="submit" name="delete" value="Delete!">
            </form>
        {% endfor %}
        <div>
        {% for i in freespot %}

            <p>{{ i.t_time_id}} - {{ i.t_freespot }}</p>
            
        {% endfor %}
        </div>
    {% endif %}

{% endblock body %}